{# https://github.com/shopware/platform/blob/552675ba24284dec2bb01c2107bf45f86b362550/src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.html.twig#L64 #}
{% block sw_product_basic_form_description_field %}
    <h1>
        Welcome to a customized component
    </h1>
{% endblock %}
