<div>
	<sw-card :large="false" title="Konfiguration" subtitle="Erklärung">
		<div class="">
			<div>
				<sw-text-editor id="aidescription-generated-editor" :buttonConfig="buttonConfig" label="Automatisch generierte Beschreibung" v-model="currentDescription" :disabled="isLoadingDescription"/>
				<div class="aidescription-footer">
					<div class="aidescription-footer__button-group">
						<sw-button @click="generateDescription" :disabled="isLoadingDescription">{{ currentDescription ? 'Neu Generieren' : 'Generieren' }}</sw-button>
						<sw-button @click="regenerateDescription" :disabled="isLoadingDescription">Umformulierung starten</sw-button>
						<sw-button :disabled="isLoadingDescription">Veröffentlichen</sw-button>
					</div>
					<div class="aidescription-footer__button-group">
						<sw-button @click="currentHistoryIndex --" :square="true" :disabled="currentHistoryIndex <= 1 || isLoadingDescription">
							<sw-icon name="solid-chevron-left" :small="true"></sw-icon>
						</sw-button>
              <span v-if="currentHistoryIndex !== null && history !== null">{{ currentHistoryIndex }} von {{ history.length }}</span>
              <sw-button @click="currentHistoryIndex ++" :square="true" :disabled="!history || currentHistoryIndex >= history.length || isLoadingDescription">
							<sw-icon name="solid-chevron-right" :small="true"></sw-icon>
						</sw-button>
					</div>
				</div>
			</div>

			<sw-text-editor label="Aktuelle Beschreibung" :value="entity?.description ?? 'Keine Beschreibung vorhanden'" :disabled="true"/>
		</div>
	</sw-card>
	<sw-card :large="false" title="Konfiguration" subtitle="Erklärung">
		<div>
			<div>
				<sw-single-select :disableSearchFunction="true" v-model="currentSelection" label="Tonalität" :options="options" @change="onChangeTona">
				</sw-single-select>
			</div>
			<div ref="propertyListing">
				<sw-checkbox-field  v-for="(item, index) in properties" :key="index" v-model="item.checked" :label="item.description +': '+ item.options[0].name"></sw-checkbox-field>
			</div>
		</div>
	</sw-card>
</div>
